<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mobven-FigmaProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAD03F8A29ADF68700A42E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD03FA029ADF68A00A42E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD03FAA29ADF68A00A42E13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
